<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" id="site-name" href="{{ site.url }}">{{ site.name }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          {% if page.category %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ page.category }}
            <span class="badge">{{ page.category | post_count }}</span>
            <b class="caret"></b>
          </a>
          {% else %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Artigos&nbsp;<span class="badge">{% post_count %}</span><b class="caret"></b>
          </a>
          {% endif %}
          <ul class="dropdown-menu">
            {% for category in site.navbar_categories %}
              {% if category == "separator" %}
                <li class="dropdown-header divider"></li>
              {% else %}
                <li>
                  <a href="{{ site.url }}/{{ category | category_url }}">
                    {{ category }} <span class="badge">{{ category | post_count }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        <li class="divider"></li>
        <li>
          <a href="https://github.com/ataxexe/unbelievable-exception" target="_blank">
            <span class="visible-xs visible-md visible-lg">GitHub</span>
            <span class="hidden-xs hidden-md hidden-lg">
              <i class="fa fa-github"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/feed.xml">
            <span class="visible-xs visible-md visible-lg">RSS</span>
            <span class="hidden-xs hidden-md hidden-lg">
              <i class="fa fa-rss"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/about">
            <span class="visible-xs visible-md visible-lg">Sobre</span>
            <span class="hidden-xs hidden-md hidden-lg">
              <i class="fa fa-question"></i>
            </span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <input type="text" placeholder="Pesquisar"
                 class="search-input form-control col-lg-8">
          </input>
        </li>
      </ul>
    </div>
  </div>
</div>
