<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootswatch.min.js"></script>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>
{% if site.analytics %}
<script src="/assets/js/ga.min.js"></script>
{% endif %}
{% if site.share %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({
    publisher: "ur-a75a576e-da21-dccd-7ecc-a6214a0a1474",
    doNotHash: true,
    doNotCopy: true,
    hashAddressBar: false
  });
</script>
{% endif %}