// Monokay colors
$purple:                #F92672;
$light_purple :         #FDA5FF;
$yellow:                #E6DB74;
$gray:                  #75715E;
$dark_gray:             #252620; // a little bit more darken than the original
$light_gray:            #CFCFC2;
$violet:                #AE81FF;
$blue:                  #3697FF;
$light_blue:            #E3E3FF;
$green:                 #A6E22E;
$red:                   #FF5454;
$orange:                #FD971F;
$cyan:                  #66D9EF;
$white:                 #F8F8F0;

$code_font_size:        1em;

code, pre {
  font-size: $code_font_size;
  color: $white;
  overflow: auto;
  background-color: $dark_gray;
  border-radius: 3px 3px 3px 3px;
}

p code {
  font-size: $code_font_size;
  border: 1px solid $gray;
  margin: 0px 2px;
  padding: 0px 5px;
  background-color: $dark_gray;
  border-radius: 3px 3px 3px 3px;
}

.sourceCode {
  font-size: $code_font_size;
  border-radius: 3px 3px 3px 3px;
  background-color: $dark_gray;
  color: $white;

  .kw, .dt { color: $purple; } /* Keyword.Declaration */
  .co { color: $gray; font-style: italic } /* Comment.Multiline */
  .dv { color: $violet } /* Literal.Number */
  .fu { color: $green } /* Name.Function */
  .ot { color: $green } /* Attribute.Name */
  .st { color: $yellow } /* Literal.String */
}
