@purple: #F92672;
@light_purple : #FDA5FF;
@yellow: #E6DB74;
@gray: #75715E;
@dark_gray: #272822;
@light_gray: #CFCFC2;
@violet: #AE81FF;
@blue: #3697FF;
@light_blue: #E3E3FF;
@green: #A6E22E;
@red: #FF5454;
@orange: #FD971F;
@cyan: #66D9EF;
@white: #F8F8F0;
@darken_gray: darken(@dark_gray, 5%);

body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: @darken_gray;
  color: @white;
}

#content {
  background-color: @dark_gray;
  border: 1px solid @gray;
  border-radius: 5px 5px 5px 5px;
  color: @white;
}

h1, h2, h3 {
  color: @white;
}

.post {
  text-align: justify;
}

#posts {
  color: @yellow;
}

.post-category > a {
  color: @green;
}

#category {
  color: @green;
}

article img {
  display: block;
  text-align: center;
  margin: 0 auto 1em auto;
  max-width: 100%;
}

article .meta {
  padding-top: 6px;
  font-size: 0.85em;
  font-style: italic;
  text-align: right;
}

code {
  font-family: monospace;
  font-size: 0.85em;
  color: @white;
  overflow: auto;
}

p code {
  border: 1px solid @gray;
  margin: 0px 2px;
  padding: 0px 5px;
  background-color: @darken_gray;
  border-radius: 3px 3px 3px 3px;
}

blockquote {
  margin: 22px 22px;
  padding: 0 20px;
  border-left: 2px solid #000000;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}

.highlight {
  background-color: @dark_gray;
  color: @white;
}

.highlight > pre {
  background-color: @dark_gray;
  border: 1px solid @gray;
  border-radius: 3px 3px 3px 3px;
  color: @white;
}

#footer {
  border-top: 1px solid @blue;
  text-align: right;
  color: @gray;
  font-size: 0.85em;
}

article .meta {
  padding-top: 6px;
  font-size: 0.85em;
  font-style: italic;
  text-align: right;
}

#site-name {
  color: @blue;
}

#site-description {
  color: @red;
}

.post-preview {
  background-color: @darken_gray;
}

.post-excerpt > p {
  font-size: 14.5px;
  color: @light_gray;
}

.post-category {
  color: @green;
}

.post-date {
  color: @cyan;
}

.github-badge {
  padding-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.tags {
  color: @green;
}

.posted-by {
  color: @yellow;
}
