// cyborg colors
@blue:              #2A9FD6;
@green:             #77B300;
@orange:            #FF8800;
@red:               #CC0000;
@violet:            #9933CC;

body {
  padding-top: 70px;
  text-align: justify;
}

#site-name {
  color: @blue;
}

#site-description {
  color: @red;
}

.post-category {
  color: @green;
  font-size: large;
}

.post-date {
  color: @violet;
}

.posted-by {
  color: @orange;
}

#posts {
  color: @orange;
}

#category {
  color: @green;
}

.github-badge {
  padding-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

article .meta {
  padding-top: 6px;
  font-style: italic;
  text-align: right;
}

article img {
  display: block;
  text-align: center;
  margin: 0 auto 1em auto;
  max-width: 100%;
}

#footer {
  border-top: 1px solid @blue;
  text-align: right;
}
