@orange:            #ff8800;
@white:             #fff;
@dark-gray:         #161616;
@light_gray:        #CFCFC2;

@footer-background: @dark-gray;
@navbar-background: @dark-gray;

.navbar-default {
  background-color: @dark-gray;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.5em;
}

body {
  padding-top: 70px;
  text-align: justify;
}

#site-name {
  color: @orange;
}

#site-description {
  color: @orange;
}

.site-owner {
  color: @orange;
}

a.post-title {
  color: @light_gray;
}

.post-details {
  font-style: italic;
}

#search-result {
  display: none;
}

.search-input {
  margin-top: 0.5em;
}

.share {
  text-align: right;
  .shareit {
    position: relative;
    top: -0.9em;
  }
}

article {

  .meta {
    padding-top: 6px;
    font-style: italic;
    text-align: right;
  }

  img {
    display: block;
    margin: 0 auto 1em auto;
    max-width: 100%;
    border: 2px solid #161616;
    border-radius: 1%;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

#copyright {
  font-style: italic;
  font-size: small;
  background-color: @footer-background;
  li {
    list-style: none;
  }
}

#footer {
  border-top: 1px solid @orange;
  text-align: right;
}
