
$code-background-color: #252620;
$code-color:            #F8F8F0;
$code-border-color:     #75715E;
$code-keyword-color:    #FF8800;
$code-comment-color:    #75715E;
$code-number-color:     #78B753;
$code-function-color:   #508ED8;
$code-attribute-color:  $code-function-color;
$code-string-color:     #E6DB74;

.sourceCode {
  .kw, .dt { font-weight: normal; } /* Keyword.Declaration */
}
